[submodule "clash-foss"]
	path = core/src/foss/golang/clash
	url = https://github.com/TOGQ/Clash.Meta.git
[submodule "clash-premium"]
	path = core/src/premium/golang/clash
	url = https://github.com/TOGQ/Clash.Meta.git
